
{include file="public/header" /}


<!--body wrapper start-->
<div class="wrapper">

    <div class="row">

        <div class="col-sm-12">

            <section class="panel">
                <div class="x_title panel-heading">
                    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#addRoleModal">
                        新增
                    </button>
                    <div class="" style="overflow: auto">
                        <form class="form-inline form-search" role="form" method="get">
                            <div class="form-group">
                                <label for="">搜索</label>
                                <input type="text" name="search" placeholder="搜索" value="{$search ?? ''}">
                            </div>
                            <button type="submit" class="btn btn-default">submit</button>
                            <button type="reset" class="btn btn-default">clear</button>
                        </form>
                    </div>
                </div>
                <!-- <header class="panel-heading ">
                    Convertable Data Table
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header> -->
                <table class="table datatable-ajax data-table">
                    <thead>
                    <tr>
                        <th>
                            OrderDate
                        </th>
                        <th>
                            Region
                        </th>
                        <th>
                            Rep
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Units
                        </th>
                        <th>
                            Unit Cost
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </section>
        </div>

    </div>


</div>
<!--body wrapper end-->
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;font-size: 25px;">新增</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <div class="panel">
                            <div class="x_content">
                                <form class="form-horizontal form-label-left input_mask">
                                    <input type="hidden" name="extend" value="add_role">
                                    <div class="form-group">
                                        <label for="add-state-name">字段1</label>
                                        <input type="text" id="add-state-name" class="form-control"  name='name'>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-state-name">字段1</label>
                                        <input type="text" id="" class="form-control"  name='desc'>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-state-name">字段1</label>
                                        <input type="text" id="" class="form-control"  name='desc'>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-state-name">字段1</label>
                                        <input type="text" id="" class="form-control"  name='desc'>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                            <button type="button" data-dismiss="modal" class="btn btn-primary">取消</button>
                                            <button type="submit" class="btn btn-success">确认</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer section start-->
<footer>
    2015 &copy; SlickLab by VectorLab.
</footer>
<!--footer section end-->

</div>
<!-- body content end-->
</section>
{include file="public/footer" /}
