
{include file="public/header" /}


<!--body wrapper start-->
<div class="wrapper">

    <div class="row">

        <div class="col-sm-12">

            <section class="panel">
                <div class="x_title panel-heading">
                    <div style="overflow: hidden;">
                        
                        <!-- <button type="button" style="float: right" class="btn btn-default btn-md">
                            <a href="{:url('Index/demo_out')}" style="float: right">导出Execl</a>
                        </button> -->
                    </div>
                    <div class="" style="overflow: auto;">
                        <form class="form-inline form-search" role="form" method="get" style="float:left">
                            <div class="form-group">
                                <label for="">搜索</label>
                                <input type="text" name="search" placeholder="phone" value="{$search ?? ''}">
                            </div>
                            <button type="submit" class="btn btn-default">submit</button>
                            <button type="reset" class="btn btn-default">clear</button>
                        </form>
                        <form style="float: left; width: 60%; margin-left:10%;" class="form-inline form-search" action="{:url('outCall')}" method="get" id="out">
                            <div class="form-group">
                                <label for="id">请输入任务id:</label>
                                <input id="id" type="text" name="id" placeholder="请输入任务id" value="">
                            </div>
                            <div class="form-group">
                                <label for="call">呼叫状态:</label>
                                <select name="call">
                                    <option value="">请选择</option>
                                    <option value="0">未呼叫</option>
                                    <option value="1">呼叫中</option>
                                    <option value="2">已呼叫</option>
                                </select>
                            </div>
                            <button class="btn btn-info  btn-default">导出Excel</button>
                        </form>
                        <button id="batch_del" style="float:right" type="text" class="btn btn-default">{:lang('batch_del')}</button>
                    </div>
                </div>
                <!-- <header class="panel-heading ">
                    Convertable Data Table
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header> -->
                <table class="table datatable-ajax data-table">
                    <thead>
                    <tr>
                            <th style="width: 13px;" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" aria-sort="descending">
                                <input type="checkbox" class="check-all">
                            </th>
                            <th>
                                {:lang('name_task')}
                            </th>
                            <th>
                                {:lang('phone')}
                            </th>
                            <th>
                                {:lang('extend_id')}
                            </th>
                            <th>
                                {:lang('desc')}
                            </th>
                            <th>
                                {:lang('call_status')}
                            </th>
                            <th>
                                {:lang('call_case_time')}
                            </th>
                            <th>
                                {:lang('call_case_count')}
                            </th>
                            <th>
                                addtime
                            </th>
                            <th>
                                {:lang('operating')}
                            </th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </section>
        </div>

    </div>


</div>
<!--body wrapper end-->

<!--footer section end-->

</div>
<!-- body content end-->
</section>
{include file="public/footer" /}
<script>
    function call_del(id,task_id){
        if(window.confirm("您确定删除此记录吗？")) {
            window.location.href="{:url('Channel/call_del')}?id="+id+'&task_id='+task_id;
        }
    }
    $('#out').submit(function(){
        if($('#id').val().trim().length === 0){
            alert('请输入任务id');
            return false;
        }
    })
    $('#batch_del').click(function(){
        if(window.confirm("您确定批量删除记录吗？")) {
            var arry = new Array();
            var task_ids = [];
            //循环所有选中的值
            $('.ids:checked').each(function(index, element) {
                //追加到数组中
                arry.push($(this).attr('id'));
                task_ids.push($(this).attr('task_id'));
            });
            //将数组元素连接起来转化为字符串
            var arrystr = arry.join(',');
            if(arrystr == ''){
                toastr.error('empty ids');
            }
            window.location.href="{:url('Channel/batch_del')}?ids="+arrystr+'&task_ids='+task_ids;
        }
    })
</script>
