
{include file="public/header" /}


<!--body wrapper start-->
<div class="wrapper">

    <div class="row">

        <div class="col-sm-12">

            <section class="panel">
                <div class="x_title panel-heading">
                    <div style="overflow: hidden;">
                        
                        <!-- <button type="button" style="float: right" class="btn btn-default btn-md">
                            <a href="{:url('Index/demo_out')}" style="float: right">导出Execl</a>
                        </button> -->
                    </div>
                    <div class="" style="overflow: auto;">
                        <form class="form-inline form-search" role="form" method="get" style="float:left">
                            <div class="form-group">
                                <label for="">搜索</label>
                                <input type="text" name="search" placeholder="搜索" value="{$search ?? ''}">
                            </div>
                            <button type="submit" class="btn btn-default">submit</button>
                            <button type="reset" class="btn btn-default">clear</button>
                        </form>
                        <!-- <form method="post" action="{:url('Channel/demo_in')}" style="float: right" class="" enctype="multipart/form-data" role="form"  id="form" >
                            <input name="excel" type="file" class="">
                            <input type="submit" value="导入Excel" class="">
                        </form> -->
                        <button id="batch_del" style="float:right" type="text" class="btn btn-default">{:lang('batch_del')}</button>
                    </div>
                </div>
                <!-- <header class="panel-heading ">
                    Convertable Data Table
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header> -->
                <table class="table datatable-ajax data-table">
                    <thead>
                    <tr>
                            <th style="width: 13px;" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" aria-sort="descending">
                                <input type="checkbox" class="check-all">
                            </th>
                            <th>
                                {:lang('name_task')}
                            </th>
                            <th>
                                {:lang('phone')}
                            </th>
                            <th>
                                {:lang('extend_id')}
                            </th>
                            <th>
                                {:lang('desc')}
                            </th>
                            <th>
                                addtime
                            </th>
                            <th>
                                {:lang('operating')}
                            </th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </section>
        </div>

    </div>


</div>
<!--body wrapper end-->

<!--footer section end-->

</div>
<!-- body content end-->
</section>
{include file="public/footer" /}
<script>
    function call_del(id){
        if(window.confirm("您确定删除此记录吗？")) {
            window.location.href="{:url('Channel/call_del')}?id="+id;
        }
    }
    $('#batch_del').click(function(){
        if(window.confirm("您确定批量删除记录吗？")) {
            var arry = new Array();
            //循环所有选中的值
            $('.ids:checked').each(function(index, element) {
                //追加到数组中
                arry.push($(this).attr('id'));
            });
            //将数组元素连接起来转化为字符串
            var arrystr = arry.join(',');
            if(arrystr == ''){
                toastr.error('empty ids');
            }
            window.location.href="{:url('Channel/batch_del')}?ids="+arrystr;
        }
    })
</script>
