
{include file="public/header" /}


<!--body wrapper start-->
<div class="wrapper">

    <div class="row">

        <div class="col-sm-12">

            <section class="panel">
                <div class="x_title panel-heading">
                    <div style="overflow: hidden;">

                        <!-- <button type="button" style="float: right" class="btn btn-default btn-md">
                            <a href="{:url('Index/demo_out')}" style="float: right">导出Execl</a>
                        </button> -->
                    </div>
                    <div class="" style="overflow: auto;">
                        <form class="form-inline form-search" role="form" method="get" style="float:left">
                            <div class="form-group">
                                <label for="">搜索</label>
                                <input type="text" name="search" placeholder="account number" value="{$search ?? ''}">
                            </div>
                            <button type="submit" class="btn btn-default">submit</button>
                            <button type="reset" class="btn btn-default">clear</button>
                        </form>
                        <!-- <form method="post" action="{:url('Channel/demo_in')}" style="float: right" class="" enctype="multipart/form-data" role="form"  id="form" >
                            <input name="excel" type="file" class="">
                            <input type="submit" value="导入Excel" class="">
                        </form> -->
                        <div style="float:right;width: 300px;">
                            <label>task_id:</label>
                            <select name="task" aria-controls="DataTables_Table_0" class="form-control input-sm" style="width: 100px;display: inline-block;">
                            </select>
                            <button id="task_export" style="display: inline-block;" class="btn btn-default">{:lang('export_excal')}</button>
                        </div>
                    </div>
                </div>
                <table class="table datatable-ajax data-table">
                    <thead>
                    <tr>
                        <!--<th style="width: 13px;" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" aria-sort="descending">
                            <input type="checkbox" class="check-all">
                        </th>-->
                        <th>
                            Id
                        </th>
                        <th>
                            {:lang('name_task')}
                        </th>
                        <th>
                            {:lang('task_id')}
                        </th>
                        <th>
                            {:lang('username')}
                        </th>
                        <th>
                            {:lang('phone_count')}
                        </th>
                        <th>
                            {:lang('call_case_time')}
                        </th>
                        <th>
                            {:lang('average_call_duration')}
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </section>
        </div>

    </div>


</div>
<!--body wrapper end-->

<!--footer section end-->

</div>
<!-- body content end-->
</section>
{include file="public/footer" /}
<script>
    $(function () {
        var task = $("select[name='task']");
        $.post('getTaskId',{},function(data){
            var str = '';
            for (i in data){
                str += '<option value='+data[i]+'>'+data[i]+'</option>';
            }
            task.append(str);
        })
        $('#task_export').click(function(){
            window.location.href="{:url('Extend/downTask')}?task_id="+task.val();
        })
    })
</script>
