
            {include file="public/header" /}
            <!--body wrapper start-->
            <div class="wrapper">

                <div class="row">
                        
                    <div class="col-sm-12">
                        
                        <section class="panel">
                            <div class="x_title panel-heading">
                                <div class="" style="overflow: auto">
                                    
                                        <form class="form-inline form-search" role="form" method="get" style="float:left">
                                            
                                            <div class="form-group">
                                                <label for="">Search:</label>
                                                <input type="text" name="search" placeholder="account"" value="{$search}">
                                            </div>
                                            <button type="submit" class="btn btn-default">submit</button>
                                            <button type="reset" class="btn btn-default">clear</button>
                                        </form>
                                        <!-- <button id="call_task" style="float:right" type="text" class="btn btn-default">{:lang('add_to_call_list')}</button> -->
                                </div>
                            </div>
                            <!-- <header class="panel-heading ">
                                Convertable Data Table
                                <span class="tools pull-right">
                                    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                                    <a class="t-close fa fa-times" href="javascript:;"></a>
                                </span>
                            </header> -->
                        <table class="table datatable-ajax data-table">
                        <thead>
                        <tr>
                            <th style="width: 13px;" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" aria-sort="descending">
                                <input type="checkbox" class="check-all">
                            </th>
                            <th>
                                {:lang('username')}
                            </th>
                            <th>
                                {:lang('password')}
                            </th>
                            
                            <th>
                                {:lang('status')}
                            </th>
                            <th>
                                {:lang('enable')}
                            </th>
                            <th>
                                addtime
                            </th>
                           
                            
                        </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                        </table>
                        </section>
                    </div>

                </div>
                

            </div>
            <!--body wrapper end-->


            <div class="modal fade" id="addUsermyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  
                <div class="modal-dialog" role="document">  
                    <div class="modal-content">  
                        <div class="modal-header">  
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">  
                                <span aria-hidden="true">×</span>  
                            </button>  
                            <h4 class="modal-title" id="title">{:lang('add_phone')}</h4>  
                        </div>  
                        <div class="modal-body"> 
                            <div class="form-group">  
                                <label for="email" class="control-label">{:lang('customer')}:</label>
                                <select name="loan_daycount" id="channel_id">
                                    <option value="-1">全部</option>
                                    {foreach $userList as $vo}
                                    <option value="{$vo.id}">{$vo.account}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="form-group">  
                                <label for="email" class="control-label">{:lang('enable')}:</label>
                                <input type="radio" checked name="enable" value="1">{:lang('yes')}
                                <input type="radio" name="enable" value="2">{:lang('no')}
                                
                            </div> 
                            <div class="form-group"> 
                                <input type="hidden" class="form-control bing_id" id="recipient-name"> 
                                <label for="recipient-name" class="control-label">{:lang('username')}:</label>  
                                <input type="text" class="form-control account" id="recipient-name">  
                            </div>
                            <div class="form-group">  
                                <label for="email" class="control-label">{:lang('password')}:</label>
                                <input type="text" class="form-control password" id="new_password">
                            </div>
                            
                        </div>  
                        <div class="modal-footer">  
                            <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('cancel')}</button>  
                            <button type="button" class="btn btn-primary submit">{:lang('submit')}</button>  
                        </div>  
                    </div>  
                </div>  
            </div>  

        </div>
        <!-- body content end-->
    </section>
    <script>
            $('#addRoleModal').on('click', function () {
                $('#addUsermyModal').modal();
            })
            $('.submit').on('click',function(){
                var account = $('.account').val();
                var channel_id = $('#channel_id').val();
                var password = $('.password').val();
                var enable = $('input:radio[name="enable"]:checked').val();
                var id = $('.bing_id').val();
                $.ajax({
                    type : 'post',
                    url : "{:url('Channel/tel_add')}",
                    data : {id:id,account:account,channel_id:channel_id,password:password,enable:enable},
                    success:function(data){
                        if(data.status == 1){
                            toastr.success(data.message);
                            window.location.reload();
                            $('#addUsermyModal').modal('hide')
                        }else{
                            toastr.error(data.message);
                        }
                    }
                })
            })
            function user_edit(id){
                $('#addUsermyModal').modal();
                $.ajax({
                    type : 'get',
                    url : "{:url('Channel/tel_edit')}?id="+id,
                    success:function(data){
                        $('.account').val(data.account);
                        $('.password').val(data.password);
                        $("#channel_id").find("option[value="+data.channel_id+"]").attr("selected",true);
                        $('input:radio[value='+data.enable+']').attr("checked",'checked')
                        $('.bing_id').val(data.id);
                        var edit = "{:lang('edit')}";
                        $('#title').text(edit);
                    }
                })
            }
            function tel_del(id){
                if(window.confirm("您确定删除此话机吗？")) {
                    window.location.href="{:url('Channel/tel_del')}?id="+id;
                }
            }
            $('#call_task').click(function(){
                var arry = new Array();
                //循环所有选中的值
                $('.ids:checked').each(function(index, element) {
                    //追加到数组中
                    arry.push($(this).attr('id'));
                });
                //将数组元素连接起来转化为字符串
                var arrystr = arry.join(',');
                if(arrystr == ''){
                    toastr.error('empty ids');
                }else{
                    if(window.confirm("您确定批量添加到呼叫任务吗？")) {
                        window.location.href="{:url('Channel/batch_call_task')}?ids="+arrystr;
                    }
                }
            })
        </script>
    {include file="public/footer" /}
