<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{:url('index')}">查看</a>
    <form action="{:url('save')}" method="post">
        <label for="nik">nik:</label>
        <input id="nik" name="nik" type="text">
        <p></p>
        <label for="mobile">mobile:</label>
        <input id="mobile" name="mobile" type="text">
        <p></p>
        <label for="name">name:</label>
        <input id="name" name="name" type="text">
        <p></p>
        <label for="score">score:</label>
        <input id="score" name="score" type="text">
        <p></p>
        <label for="information_check">information_check:</label>
        <input id="information_check" name="information_check" type="text">
        <p></p>
        <label for="fraud_ranking">fraud_ranking:</label>
        <input id="fraud_ranking" name="fraud_ranking" type="text">
        <p></p>
        <label for="telco_ranking">telco_ranking:</label>
        <input id="telco_ranking" name="telco_ranking" type="text">
        <p></p>
        <label for="credit_history_ranking">credit_history_ranking:</label>
        <input id="credit_history_ranking" name="credit_history_ranking" type="text">
        <button type="submit">提交</button>
    </form>
</body>
</html>